body {
  text-align: center;

}

.packaging-designs {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 10px 0;
}

.nav-portfolio {
margin: 10px 0;
background: black;

}

.nav-portfolio a {
color: #fff;
text-transform: uppercase;
}

.nav-portfolio a:hover {
color: yellow;
}
